/* **reset some style** */
*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}
p {
    margin: 0;
}
/* **reset some style** */

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 0.875rem;
}

.container {
    max-width: 1016px;
    margin: 0 auto;
    padding: 0 1.75rem;
}

.banner,
.copyright {
    margin: 0 auto;
    text-align: center;
}

.header-top {
    background-color: #1f1f56;
}

.header-menu__items {
    display: flex;
}

.social-list__items {
    display: flex;
}
